@font-face {
  font-family: 'Mona Sans';
  src:
    url('./Mona-Sans.woff2') format('woff2 supports variations'),
    url('./Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

html,
body {
  min-height: 100%;
  height: auto;
  font-family: 'Poppins', sans-serif;
}

img {
  opacity: 1;
  filter: none;
  transition: all cubic-bezier(0.165, 0.84, 0.44, 1);
}

img[data-src] {
  filter: blur(3px);
  opacity: .75 !important;
}

.no-scrollbar::-webkit-scrollbar {
  width: 0 !important;
}

.m-link {
  @apply no-underline before:absolute before:inset-0 before:-z-10 before:block before:origin-bottom-right before:scale-x-0 before:bg-[#40c] before:transition-transform after:absolute after:bottom-0 after:left-[.05em] after:right-[.05em] after:-z-10 after:block after:h-0.5 after:origin-bottom-left after:scale-x-100 after:bg-gray-600 after:transition-transform hover:text-white hover:before:origin-bottom-left hover:before:scale-x-100 hover:after:origin-bottom-right hover:after:scale-x-0;
}

.onsc {
  border-bottom-width: 1px;
  --border-opacity: 1;
  border-color: rgb(229 231 235 / var(--border-opacity));
  --shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-colored: 0 1px 3px 0 var(--shadow-color), 0 1px 2px -1px var(--shadow-color);
  box-shadow: var(--ring-offset-shadow, 0 0 #0000), var(--ring-shadow, 0 0 #0000), var(--shadow);
  transition: all .3s;
}

.animate-shake {
  animation: shake 150ms 2 linear;
}

@keyframes shake {
  0% {
    transform: translate(3px, 0)
  }

  50% {
    transform: translate(-3px, 0)
  }

  100% {
    transform: translate(0, 0)
  }

}